.table-custom {
    width: 100%;
    border-collapse: collapse !important;
}

.table-custom td {
    border: 1px solid #ccc !important;
    padding: 8px !important;
    vertical-align: top;
}

.full-width {
    width: 100%;
}
