<form [formGroup]="cardForm">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-12">
              <label class="form-label d-block"><strong>Liable Type</strong></label>
              <mat-radio-group formControlName="liableType">
                <mat-radio-button value="lost" class="me-4">Lost</mat-radio-button>
                <mat-radio-button value="damage">Damage</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
      <div class="row">
        <!-- Card Type -->
        <div class="col-md-4">
          <mat-form-field  class="full-width">
            <mat-label>Card Type</mat-label>
            <mat-select formControlName="cardType">
              <mat-option *ngFor="let card of cardTypes" [value]="card.value">
                {{ card.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="full-width">
                <mat-label>Search By</mat-label>
        <input type="text" placeholder="Select" aria-label="Searchby" matInput name="searchby" #searchby="ngModel"
          [(ngModel)]="searchType" [matAutocomplete]="autoSearch">
        <mat-autocomplete #autoSearch="matAutocomplete">
          @for (option of searchByOptions; track option) {
          <mat-option [value]="option.name">{{option.name}}</mat-option>
          }
        </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="full-width">
                <mat-label>Search Data</mat-label>
                    <input matInput />
            </mat-form-field>
        </div>
      </div>
  
      <!-- Buttons -->
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="button-row mb-3">
            <button mat-stroked-button (click)="showAll()">Show All</button>
            <button class="ms-2" mat-flat-button color="primary" (click)="search()">Search</button>
            <button class="ms-2" mat-flat-button color="primary" (click)="update()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  